.RSVPForm {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    margin-left: 13%;
    width: 80%;
    font-size: 1.6vw;
}

.RSVPForm-wrapper {
    margin: 2%;
}

.RSVPForm-rsvpsButton {
    height: 100%;
    padding-top: 2.5%;
    padding-bottom: 1.5%;
    width: 30%;
    font-size: 1.25vw;
}