.RSVPView-header {
    align-items: center;
    padding-right: 5%;
    padding-left: 1%;
}

.RSVPView-body {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.RSVPView-wrapper {
    align-items: center;
}

.RSVPView-divider {
    height: 1px;
    width: 100%;
    color: lightgrey;
    background-color: lightgrey;
    border-color: lightgrey;
    margin-top: 2%;
    margin-bottom: 2%;
}

.RSVPView-button {
    height: 50%;
    width: 20%;
}

.RSVPView-headerText {
    font-family: Lubalin;
}

.RSVPView-text {
    padding-bottom: 4px;
    letter-spacing: 1.5px;
    font-family: Lubalin;
    font-size: 1.3vw;
}