.RSVPView-header {
    align-items: center;
    padding-right: 5%;
    padding-left: 1%;
}

.RSVPView-body {
    width: 90%;
    margin-left: 5%;
}

.RSVPView-divider {
    height: 1px;
    width: 100%;
    color: lightgrey;
    background-color: lightgrey;
    border-color: lightgrey;
    margin-top: 2%;
    margin-bottom: 2%;
}

.RSVPView-button {
    height: 50%;
    width: 20%;
}

.RSVPView-headerText {
    font-family: Lubalin;
}