.OurStory-images {
    width: 50%;
    height: 50%;
}

.OurStory-wrapper {
    width: 50%;
}

.OurStory-headerText, .OurStory-headerText2 {
    font-family: 'BigNoodle';
    font-size: 2.3vw;
    padding-top: 1%;
}

.OurStory-bodyText {
    color: #5e5e5e;
    white-space: pre-wrap;
    padding: 3%;
}

.OurStory-divider {
    height: 1px;
    width: 80%;
    color: lightgrey;
    background-color: lightgrey;
    border-color: lightgrey;
    margin-top: 2%;
    margin-bottom: 2%;
}

.OurStory-headerText2 {
    padding-left: 3%;
}

.OurStory-imageGallery {
    margin-left: 25%;
    margin-right: 25%;
    width: 38%;
}

.OurStory-image {
    height: 50%;
    width: 50%;
}

.OurStory-caption {
    position: absolute;
    bottom: 2%;
    width: 100%;
    color: white;
}

.OurStory-bestManWrapper {
    color: #5e5e5e;
    padding: 0 3% 0 3%;
    white-space: pre-wrap;
}

