.WeddingParty-groomsmen, .WeddingParty-bridesmaids {
    width: 30%;
}

.WeddingParty-groomsmen {
    border-right: 1px solid black;
    margin-left: 18%;
    padding-right: 2%;
}

.WeddingParty-bridesmaids {
    margin-right: 18%;
    padding-left: 2%;
}