.BridalParty-groomsmen {
    width: 25%;
    border-right: 1px solid black;
    padding-top: 5%;
    left: 20%;
    padding-right: 5%;
}

.BridalParty-bridesmaids {
    width: 25%;
    padding-top: 5%;
    left: 55%;
}