.Home-body {
    display: flex;
    flex-direction: row;
}

.Home-ceremony {
    width: 30%;
    height: 25%;
    margin-left: 15%;
    background-color: white;
    padding: 1%;
}

.Home-ceremonyText {
    font-size: 25px;
    font-family: Lubalin;
    color: lightblue;
    padding-bottom: 1%;
}

.Home-daysLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
    width: 22%;
}

.Home-weddingBegins {
    background-color: darkslateblue;
    text-align: center;
    padding: 3%;
    vertical-align: center;
}

.Home-weddingBeginsText {
    font-family: 'Ananda';
    font-size: 30px;
    color: white;
}

.Home-days {
    height: 30%;
    background-color: coral;
    text-align: center;
    padding: 5%;
    vertical-align: center;
    bottom: 0;
}

.Home-daysText {
    color: white;
    font-size: 35px;
    font-family: Lubalin;
}
