p {
    padding-top: 2%;
}

.Home-welcome {
    width: 30%;
    margin-left: 23%;
    background-color: white;
    padding: 1%;
    position: relative;
}

.Home-welcomeHeaderText {
    font-size: 1.6vw;
    font-family: Lubalin;
    color: #678da2;
    padding-bottom: 1%;
}

.Home-bells {
    width: 15%;
    height: 15%;
    z-index: 1;
}

.Home-bellBorder {
    position: absolute;
    left: 72%;
    top: 16%;
    width: 25%;
    border-top: 0.2vw solid #678da2;
}

.Home-daysLeft {
    margin-left: 2%;
    width: 22%;
}

.Home-weddingBegins {
    background-color: #678da2;
    text-align: center;
    padding: 5%;
    vertical-align: center;
}

.Home-weddingBeginsText {
    font-family: 'Ananda';
    font-size: 2vw;
    color: white;
}

.Home-days {
    height: 30%;
    background-color: #f2ac5e;
    text-align: center;
    padding: 7%;
    vertical-align: center;
    bottom: 0;
}

.Home-daysText {
    color: white;
    font-size: 3vw;
    font-family: Lubalin;
}

.Home-information {
    width: 44%;
    height: 25%;
    margin-left: 23%;
    margin-top: 2%;
    background-color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    position: relative;
}

.Home-informationTextWrapper {
    padding-top: 10%;
    position: relative;
}

.Home-informationHeaderText {
    font-size: 2.6vw;
    font-family: Lubalin;
    color: #678da2;
}


.Home-logoWrapper {
    height: 46%;
    width: 46%;
    position: relative;
}

.Home-logo {
    height: 100%;
    width: 100%;
}

.Home-locationText {
    font-family: 'BigNoodle';
    font-size: 2vw;
}

.Home-topRightBorder {
    width: 30%;
    height: 70%;
    border-top: 0.2vw solid #678da2;
    border-right: 0.2vw solid #678da2;
    right: 0;
    top: 5%;
    position: absolute;
}

.Home-bottomRightBorder {
    width: 85%;
    height: 25%;
    right: 0;
    bottom: 0.6%;
    border-bottom: 0.2vw solid #678da2;
    border-right: 0.2vw solid #678da2;
    position: absolute;
}

.Home-leftBorder {
    height: 35%;
    border-left: 0.2vw solid #678da2;
    left: 11%;
    position: absolute;
}