.Home-body {
    text-align: center;
    background-color: lightgrey;
    height: 100%;
}

.Home-image {
    height: auto;
    width: 100%;
}

.Home-imageDiv {
    left: 10%;
    width: 30%;
}

.Home-left {
    border-right: 1px solid black;
    width: 30%;
    height: 200%;
    left: 40%;
}

.Home-right {
    width: 30%;
    left: 70%;
}
