@font-face {
    font-family: 'Lubalin';
    font-style: normal;
    font-weight: 200;
    src: local('ITC Lubalin Graph Std');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next Condensed';
    font-size: 18px;
    background-color: #ebebeb;
}

p {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}
