.Main-headerImageWrapper {
    padding-bottom: 3%;
}

.Main-headerImage {
    width: 100%;
    height: auto;
}

.Main-navBarWrapper {
    background-color: #ebebeb;
    width: 100%;
    z-index: 10;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 3%;
}

.Main-navBar {
    width: 50%;
}

.Main-navBar:before, .Main-navBar:after {
    width: 50%;
    content: '';
    border-top: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;
}

.Main-navBar:before {
    margin-left: -50%;
}

.Main-navBar:after {
    margin-right: -50%;
}

.Main-footer {
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 0.8vw;
    padding-top: 5%;
    margin-bottom: 1%;
}

.Main-logoWrapper, .Main-marksWrapper, .Main-text {
    position: relative;
    overflow: hidden;
}

.Main-logoWrapper {
    width: 100%;
}

.Main-logoWrapper:before, .Main-logoWrapper:after {
    width: 45%;
    content: '';
    height: 4px;
    top: 51%;
    position: absolute;
    background-color: #f2ac5e;
}

.Main-logoWrapper:before {
    left: 0;
}

.Main-logoWrapper:after {
    right: 0;
}

.Main-images {
    width: 10%;
    height: 10%;
}

.Main-marksWrapper {
    padding-left: 35%;
    padding-right: 35%;
    margin-bottom: 1%;
    background-color: #678da2;
}