.Main-headerImage {
    width: 100%;
    height: auto;
}

.Main-navBarWrapper {
    background-color: #ebebeb;
    width: 100%;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.Main-navBar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Main-navBar:before, .Main-navBar:after {
    width: 50%;
    content: '';
    border-top: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;
}

.Main-navBar:before {
    margin-left: -50%;
}

.Main-navBar:after {
    margin-right: -50%;
}

.Main-footer {
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.8vw;
    padding-top: 10%;
    padding-bottom: 0.5%;
}