.Nav-container {
    display: flex;
    justify-content: center;
}

.Nav-navigation {
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Nav-navigation:before, .Nav-navigation:after {
    width: 50%;
    content: '';
    border-top: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;
}

.Nav-navigation:before {
    margin-left: -50%;
}

.Nav-navigation:after {
    margin-right: -50%;
}