.Person-wrapper {
    padding-bottom: 15%;
    font-size: 15px;
}

.Person-image {
    height: 10%;
    width: auto;
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.Person-text {
    width: 80%;
    left: 27%;
    position: relative;
}