.header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.title {
    top: 20%;
    font-size: 4em;
}

.nav {
    position: relative;
    width: 100%;
}

.color {
    background-color: grey;
    color: white;
}