.Couple-images {
    width: 50%;
    height: 50%;
}

.Couple-headerText {
    font-family: 'BigNoodle';
    font-size: 2.3vw;
}

.Couple-bodyText {
    color: #5e5e5e;
    white-space: pre-wrap;
}

.Couple-divider {
    height: 2px;
    width: 80%;
    color: lightgrey;
    background-color: lightgrey;
    margin-top: 2%;
    margin-bottom: 2%;
}