.App {
  text-align: center;
  padding: 15px;
}

.App-white {
  padding: 5px;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.App-navColor {
  background-color: #ffCA00;
  padding: 7px;
  color: white;
}

.App-header {
  background-color: white;
  height: 50px;
  color: black;
}

.App-title {
  font-size: 2em;
}

.App-image {
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
