.Home {
  text-align: center;
}

.image {
  padding-top: 20px;
  height: 100%;
  width: 40%;
  position: absolute;
  overflow-y: scroll;
  left: 0;
}

.body {
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
}
