.RSVPModal-Overlay {
    background: rgba(235, 235, 235, 0.7);
}

.RSVPModal-Modal {
    background: white;
    width: 50%;
}

.RSVPModal-closeIcon {
    outline: none;
}

.RSVPModal-closeIcon:hover {
    cursor: pointer;
}