.RSVPModal-Overlay {
    background: rgba(235, 235, 235, 0.7);
}

.RSVPModal-Modal {
    background: white;
    width: 60%;
}

.RSVPModal-closeButton {
    outline: none;
    font-size: 1px;
}

.RSVPModal-closeButton:hover {
    cursor: pointer;
}